---
# Dictionary associating URLs to settings to pass to the downloaders
'https://scihub.copernicus.eu':
  username: !ENV 'COPERNICUS_OPEN_HUB_USERNAME'
  password: !ENV 'COPERNICUS_OPEN_HUB_PASSWORD'
  max_parallel_downloads: 2
'https://apihub.copernicus.eu':
  username: !ENV 'COPERNICUS_OPEN_HUB_USERNAME'
  password: !ENV 'COPERNICUS_OPEN_HUB_PASSWORD'
  max_parallel_downloads: 2
'ftp://nrt.cmems-du.eu':
  username: !ENV 'CMEMS_USERNAME'
  password: !ENV 'CMEMS_PASSWORD'
  max_parallel_downloads: 10
'ftp://anon-ftp.ceda.ac.uk':
  username: 'anonymous'
  password: ''
  max_parallel_downloads: 12
'ftp://ftp.ceda.ac.uk':
  username: !ENV 'CEDA_USERNAME'
  password: !ENV 'CEDA_PASSWORD'
  max_parallel_downloads: 10
'ftp://ftp.gportal.jaxa.jp':
  username: !ENV 'JAXA_USERNAME'
  password: !ENV 'JAXA_PASSWORD'
'https://zipper.creodias.eu':
  username: !ENV 'CREODIAS_USERNAME'
  password: !ENV 'CREODIAS_PASSWORD'
  authentication_type: 'oauth2'
  token_url: 'https://auth.creodias.eu/auth/realms/DIAS/protocol/openid-connect/token'
  client_id: 'CLOUDFERRO_PUBLIC'
  max_parallel_downloads: 1
...